[submodule "secor_dataprocessor"]
	path = secor_dataprocessor
	url = git@github.com:FChris/secor_dataprocessor.git
[submodule "secor_datalogger"]
	path = secor_datalogger
	url = git@github.com:FChris/secor_datalogger.git
[submodule "secor_datahub"]
	path = secor_datahub
	url = git@github.com:FChris/secor_datahub.git
